.instrument-button
{
	/*
    background : darkgrey;
	color : white;
    box-shadow: 0 2px 0px rgba(0,0,0,0.8);
    border : 1px;
    */
}

.instrument-case
{
    background : dimgrey;
    border-radius : 10px;
}

.instrument-label
{
	color : wheat;
}

.instrument-screen
{
    background : darkseagreen;
    border-radius : 10px;
    color : black;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8) inset, 1px 1px rgba(255,255,255,0.2);
}

.temperature-readout
{
}

.instrument-rack
{
    background : black;
}

.humiditytemp-case
{
    background : steelblue;
    border-radius : 10px;
}

.fourchannelinstrument-case
{
    background : darkgreen;
    border-radius : 10px;
}

.logger
{
    background : dimgrey;
    border-radius : 10px;
    color : wheat;
}

.logger .frame
{
    border-color : dimgrey;
    border-radius : 10px;
    border-style : groove;
    border-width : 3px;
}
